<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
    <textarea placeholder="your puzzle input" [(ngModel)]="sAdventDayData"></textarea>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Day {{sDay}}
          </mat-panel-title>
          <mat-panel-description>
            of {{sYear}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-content></ng-content>
        <br /><br />
        <a target="_blank" href="https://adventofcode.com/{{sYear}}/day/{{iDay}}">Show whole story of the puzzle</a>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <button mat-raised-button (click)="clickPart1()">Part1 answer</button>
      <code>{{sPartOneAnswer}}</code><br />
      <br />
      <button mat-raised-button (click)="clickPart2()">Part2 answer</button>
      <code>{{sPartTwoAnswer}}</code>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>

    Puzzle solution in localization:&nbsp;
    <a target="_blank" href="https://github.com/LukaszSarzynski/typescirpt-advent-of-code/blob/master/src/app/day{{sDate}}/day{{sDate}}.component.ts">
      GitHub / LS / day{{sDate}}.ts</a>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <pre [innerHTML]="sAdventDayDataShow"></pre>
  </mat-grid-tile>
</mat-grid-list>
