<aofc-advent-partial [sDate]="20181206"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartTwoAnswer" (emitClickPart2)="runPart2($event)">
  <strong>--- Day 6: Chronal Coordinates ---</strong><br /><br />
  The device on your wrist beeps several times, and once again you feel like you're falling.
  <br />
  "Situation critical," the device announces. "Destination indeterminate.
  Chronal interference detected. Please specify new target coordinates." ..
</aofc-advent-partial>
