<aofc-advent-partial [sDate]="20181212" [sAdventDayDataShow]="sAdventDayDataShow"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartTwoAnswer" (emitClickPart2)="runPart2($event)">
  <strong>--- Day 12: Subterranean Sustainability ---</strong><br /><br />
  (..)<br />
  The pots are numbered, with 0 in front of you. To the left, the pots
  are numbered -1, -2, -3, and so on; to the right, 1, 2, 3....
  Your puzzle input contains a list of pots from 0 to the right and whether they do
  (#) or do not (.) currently contain a plant, the initial state.
  (No other pots currently contain plants.) ..
</aofc-advent-partial>
