<aofc-advent-partial [sDate]="20181210" [sAdventDayDataShow]="sAdventDayDataShow"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartOneAnswer" (emitClickPart2)="runPart1($event)">
  <strong>--- Day 10: The Stars Align ---</strong><br /><br />
  It's no use; your navigation system simply isn't capable of providing walking directions in the arctic circle, and certainly not in 1018.
  <br />
  The Elves suggest an alternative. In times like these, North Pole rescue operations will arrange points of light in the sky to guide missing Elves back to base. ..
</aofc-advent-partial>
