<aofc-advent-partial [sDate]="20181204"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartTwoAnswer" (emitClickPart2)="runPart2($event)">
  <strong>--- Day 4: Repose Record ---</strong><br /><br />
  (..)<br />
  Timestamps are written using year-month-day hour:minute format.
  The guard falling asleep or waking up is always the one whose shift most recently started.
  Because all asleep/awake times are during the midnight hour ..
</aofc-advent-partial>
