<aofc-advent-partial [sDate]="20181214"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartTwoAnswer" (emitClickPart2)="runPart2($event)">
  <strong>--- Day 14: Chocolate Charts ---</strong><br /><br />
  You finally have a chance to look at all of the produce moving around.
  Chocolate, cinnamon, mint, chili peppers, nutmeg, vanilla...
  the Elves must be growing these plants to make hot chocolate!
  As you realize this, you hear a conversation in the distance.
  When you go to investigate, you discover two Elves ..
</aofc-advent-partial>
