<aofc-advent-partial [sDate]="20181203"
  [sPartOneAnswer]="sPartOneAnswer" (emitClickPart1)="runPart1($event)"
  [sPartTwoAnswer]="sPartTwoAnswer" (emitClickPart2)="runPart2($event)">
  <strong>--- Day 3: No Matter How You Slice It ---</strong><br /><br />
  (..)<br />
  Each Elf has made a claim about which area of fabric would be ideal for Santa's suit.
  All claims have an ID and consist of a single rectangle with edges parallel
  to the edges of the fabric. Each claim's rectangle is defined as follows: ..
</aofc-advent-partial>
